<% stylesheet_link_tag('my-account_style')%>  

<h1>New Restaurant</h1>

<section class = "new_accinfo-cont">
    <div class="form-container">
        <%= render "form", restaurant: @restaurant %>
    </div>
</section>

</body>
</html>