<%= stylesheet_link_tag('admin_dashboard')%>
 
<h1 id="admin-h1">Dashboard</h1>

<h2 id="admin-h2">Hello, <%= current_admin.username %>. Choose your desired action below:</h2>

<div class = "admin-actions">
    <ul>
        <li><a href="/user_status" id="admin-user-status">User Status</a></li>
        <li><a href="/admin-restaurant_review" id="admin-restaurant-review">Restaurant Review</a></li>
        <li><a href="/admin-restaurant_info" id="admin-restaurant-info">Restaurant Information</a></li>
    </ul>
</div>
<div class="admin_logout">
    <%=button_to "Log Out",admin_logout_path, method: :delete, class: "admin_logout_btn"%>
</div>